<h1 class="text-center my-5">Ingreso de usuario</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="/auth/login" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <input type="text" name="email" class="form-control mb-2" placeholder="Ingrese email"
                value="carracerlive@gmail.com">
            <input type="password" name="password" class="form-control mb-2" placeholder="Ingrese una contraseña"
                value="c9b20aec56">
           
            <button class="btn btn-primary form-control mb-2" type="submit">Iniciar sesion</button>
        </form>

    </div>
</div>